<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <!-- <testsuite name="Browser">
            <directory suffix="Test.php">./tests/Browser</directory>
        </testsuite> -->

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
				<directory>./app/Console</directory>
				<directory>./app/Events</directory>
				<directory>./app/Exceptions</directory>
				<directory>./app/Listeners</directory>
				<directory>./app/Jobs</directory>
				<directory>./app/Notifications</directory>
				<directory>./app/Providers</directory>
				<directory>./app/Http/Middleware</directory>
			</exclude>
        </whitelist>
    </filter>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/>
        <server name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/>
        <server name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/>
        <server name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/>
        <server name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/>
    </php>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="coverage/phpunit/clover.xml" showUncoveredFiles="false"/>
        <log type="coverage-html" target="coverage/phpunit/html" lowUpperBound="50" highLowerBound="85"/>
    </logging>
</phpunit>
